@media screen and (max-width: 955px) {
  header.container {
    padding-left: 2%;
    padding-right: 2%;
  }

  main.container {
    padding-top: 0;
  }

  .info,
  .featured-works {
    padding-left: 2%;
    padding-right: 2%;
  }

  .social a:nth-child(2) img {
    padding-left: 0;
  }

  .work {
    width: 30%;
  }

  .work-img img {
    width: 100%;
  }

  .work-description h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 920px) {
  .info.flex {
    flex-direction: column;
  }

  .social {
    padding-top: 3%;
  }

  .social img {
    width: 80px;
  }

  .work {
    width: 48%;
  }

  .work-img img {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  #logo {
    width: 80px;
  }

  .title h1 {
    font-size: 2.5em;
  }

  .title h2 {
    font-size: 1.5em;
  }

  .info h2,
  .featured-works h2 {
    font-size: 2em;
  }

  .work-description h3 {
    font-size: 1.1em;
  }

  .work-description a {
    font-size: .8em;
    padding: 5px; /* to turn more "clickable" */
  }

  footer {
    height: 9vh;
  }
}

@media screen and (max-width: 420px) {
  header.container.flex {
    flex-direction: column;
  }

  #logo {
    width: 40px;
    padding-bottom: 2%;
  }

  .title {
    text-align: center;
  }

  .social img {
    width: 60px;
  }

  .info h2,
  .featured-works h2 {
    text-align: center;
  }

  .works.flex {
    flex-direction: column;
  }

  .work {
    width: 80%;
    padding-bottom: 4%;
  }
}
